*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    
}

.login__box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30%;
    background-color:#f9f9f9;
}

.logo__title{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}

.logo__title img{
    height: 20%;
}

.title__box{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
    /*border: 1px solid red;*/
}

.input__box{
    /*border: 1px solid red;*/
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    width: 70%;
    height: 50%;
    margin: 10px;
    background-color: #ededed;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.inputs::placeholder{
    color: #929292;
    padding: 15px;
    font-weight: 800;
}


.img__box img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}

.plataform__box{
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.facebook__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background-color: #1877f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
}

.google__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 15px;
}

.mac__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background-color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 15px;
}

.xbox__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background-color: #107c10;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.img__logo{
    height: 20px;
    margin: 20px;
}

.stillConnect__box{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.check__box{
    height: 50%;
    width: 5%;
    background-color: #ededed;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

.stillConnect__box h2{
    font-size: 18px;
    margin: 5px;
}

.container_enter__box{
    border: 1px solid red;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.enter__box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 18%;
    border: 2px solid #e8e8e8;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
